NodeRED.json
[
    {
        "id": "ac8fa1077d6335fa",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3b102b38a3c1ede",
        "type": "ui_text",
        "z": "ac8fa1077d6335fa",
        "group": "658f1834264b562b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Number of Cars that had no place: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "4e3633c8c0ab4ca5",
        "type": "ui_chart",
        "z": "ac8fa1077d6335fa",
        "name": "",
        "group": "658f1834264b562b",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Cars in Parking",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f8b946fd0416ac15",
        "type": "mqtt in",
        "z": "ac8fa1077d6335fa",
        "name": "",
        "topic": "Ehab/Parking/NumNoPlaceCars",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5801d1715eeb391",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "e3b102b38a3c1ede"
            ]
        ]
    },
    {
        "id": "a87bd376844421cc",
        "type": "mqtt in",
        "z": "ac8fa1077d6335fa",
        "name": "",
        "topic": "Ehab/Parking/CarsInParking",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5801d1715eeb391",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "4e3633c8c0ab4ca5"
            ]
        ]
    },
    {
        "id": "658f1834264b562b",
        "type": "ui_group",
        "name": "Smart Parking System",
        "tab": "f61d716a697308d6",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5801d1715eeb391",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f61d716a697308d6",
        "type": "ui_tab",
        "name": "Smart Parking System",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]